* {
  box-sizing: border-box;
}

.search-bar {
  float: right;
}

.carousel-inner > .item > img {
  width: 100%;
  height: 0px;
}

.carousel-indicators--round li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 10px;
  max-width: 10px;
  border: 1px solid #FFF;
  background-color: transparent;
}
.carousel-indicators .active {
  background-color: #fff;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}


.carousel-text {
  font-size: 350%;
  font-family: 'Gloria Hallelujah', cursive;
  color: white;  
}

.create-event {
  margin: 6%;
}


.modal-content {
  background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  overflow: hidden;
} */

.event-details {
  text-align: center;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
 

  .upcoming {
    text-align: center;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;    
  }