* {
    box-sizing: border-box;
}

.search-bar {
    float: right;
}

.carousel-inner>.item>img {
    width: 100%;
    height: 0px;
}

.carousel-indicators--round li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
}

.carousel-indicators .active {
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.carousel-text {
    font-size: 350%;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
}

.create-event {
    margin: 6%;
}

.modal-content {
    background: linear-gradient(to right, #d3cce3, #e9e4f0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  overflow: hidden;
} */

.event-details {
    text-align: center;
}

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.upcoming {
    text-align: center;
}

.footer {
    background-color: #29293d;
    bottom: 0;
    text-align: center;
    height: 300px;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}

*/ .event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

.event-list>li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
    height: 200px;
}

.event-list>li>img {
    /* width: 100%; */
    height: 200px;
    width: 200px;
}

.event-list>li>.info {
    padding-top: 5px;
    text-align: center;
}

.event-list>li>.info>.title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}

.event-list>li>.info>.desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}

.event-list>li>.info>ul,
.event-list>li>.social>ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.event-list>li>.social>ul {
    margin: 0px;
}

.event-list>li>.info>ul>li,
.event-list>li>.social>ul>li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}

.event-list>li>.info>ul>li>a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.event-list>li>.social>ul>li {
    padding: 0px;
}

.event-list>li>.social>ul>li>a {
    padding: 3px 0px;
}

.event-list>li>.social>ul>li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}

.twitter a {
    color: rgb(79, 213, 248) !important;
}

.google-plus a {
    color: rgb(221, 75, 57) !important;
}

.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}

.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}

.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

#join-event {
    position: relative;
    width: 198px;
}

#delete-event {
    top: 262px;
    position: absolute;
    right: 0px;
}

@media (min-width: 768px) {
    .event-list>li {
        position: relative;
        display: block;
        width: 100%;
        height: 300px;
        padding: 0px;
        margin: 60px 0;
    }
    .event-list>li>time,
    .event-list>li>img {
        display: inline-block;
    }
    .event-list>li>time,
    .event-list>li>img {
        width: 200px;
        float: left;
    }
    .event-list>li>.info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }
    .event-list>li>img {
        width: 300px;
        height: 300px;
        padding: 0px;
        margin: 0px;
    }
    .event-list>li>.info {
        text-align: center;
        position: relative;
        height: 300px;
        /* text-align: left; */
        padding-right: 40px;
    }
    .event-list>li>.info>.title,
    .event-list>li>.info>.desc {
        padding: 0px 10px;
    }
    .event-list>li>.info>ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list>li>.social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list>li>.social>ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list>li>.social>ul>li {
        display: block;
        padding: 0px;
    }
    .event-list>li>.social>ul>li>a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
    .event {
        margin: 60px 0;
    }
}

#event-venue {
    width: 80%;
}

.venue-name-btn {
    background-color: #e9e4f0;
}